{"http_interactions":[{"request":{"method":"get","uri":"https://api.crontogo.com/organizations/<crontogo_organization_id>/jobs","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["<basic auth header>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Amzn-Requestid":["b4bd6613-07c5-4a9c-a006-e0710adf419d"], "X-Amz-Apigw-Id":["CJYz-F-6oAMF6hA="]},"body":{"encoding":"ASCII-8BIT","string":"[{\"UpdatedAt\":1679427593355,\"ScheduleType\":\"cron\",\"Timezone\":\"UTC\",\"ScheduleExpression\":\"45 2 * * *\",\"State\":\"enabled\",\"OrganizationId\":\"<crontogo_organization_id>\",\"Alias\":\"bmf:parse_latest\",\"Retries\":2,\"JobExecutionsCount\":0,\"Target\":{\"Type\":\"dyno\",\"TimeToLive\":86400,\"AppId\":\"38277779-272e-46f2-afab-7bd91bf8535e\",\"Command\":\"env STATEMENT_TIMEOUT=120s rake bmf:parse_latest\",\"Size\":\"Standard-1X\"},\"Id\":\"eaa0254e-0b99-4918-89ff-bca99e845448\",\"LastAttempt\":null,\"CreatedAt\":1679427593355},{\"UpdatedAt\":1679424153176,\"ScheduleType\":\"cron\",\"Timezone\":\"UTC\",\"ScheduleExpression\":\"0 4 * * 0\",\"State\":\"enabled\",\"OrganizationId\":\"<crontogo_organization_id>\",\"Alias\":\"canonical_taxpayer:maybe_run_non_canonicalized\",\"Retries\":2,\"JobExecutionsCount\":0,\"Target\":{\"Type\":\"dyno\",\"TimeToLive\":86400,\"AppId\":\"38277779-272e-46f2-afab-7bd91bf8535e\",\"Command\":\"env STATEMENT_TIMEOUT=1000s rake canonical_taxpayer:maybe_run_non_canonicalized\",\"[...]
{"request":{"method":"delete","uri":"https://api.crontogo.com/organizations/<crontogo_organization_id>/jobs/eaa0254e-0b99-4918-89ff-bca99e845448","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["<basic auth header>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Amzn-Requestid":["f57dcdb6-c06a-4400-a3b6-5650b7c5f500"], "X-Amz-Apigw-Id":["CJY0DGcAoAMF_pg="]},"body":{"encoding":"UTF-8","string":"{\"Id\":\"eaa0254e-0b99-4918-89ff-bca99e845448\",\"OrganizationId\":\"<crontogo_organization_id>\",\"State\":\"enabled\",\"Alias\":\"bmf:parse_latest\",\"ScheduleType\":\"cron\",\"ScheduleExpression\":\"45 2 * * *\",\"Timezone\":\"UTC\",\"Retries\":2,\"Target\":{\"Type\":\"dyno\",\"TimeToLive\":86400,\"AppId\":\"38277779-272e-46f2-afab-7bd91bf8535e\",\"Command\":\"env STATEMENT_TIMEOUT=120s rake bmf:parse_latest\",\"Size\":\"Standard-1X\"},\"LastAttempt\":null,\"CreatedAt\":1679427593355,\"UpdatedAt\":1679427593355}"}},"recorded_at":"Tue, 21 Mar 2023 19:40:09 GMT"},[...]
{"request":{"method":"patch","uri":"https://api.crontogo.com/organizations/<crontogo_organization_id>/jobs/fe5fd04b-00b4-46c1-89e4-289b6df4f247","body":{"encoding":"UTF-8","string":"{\"Alias\":\"awards:populate_non_canonicalized_awards\",\"ScheduleExpression\":\"10 3 * * 6\",\"ScheduleType\":\"cron\",\"Target\":{\"Type\":\"dyno\",\"Size\":\"Standard-1X\",\"Command\":\"env STATEMENT_TIMEOUT=1000s rake awards:populate_non_canonicalized_awards\",\"TimeToLive\":14400},\"State\":\"enabled\"}"},"headers":{"Authorization":["<basic auth header>"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Amzn-Requestid":["8c730638-f16d-4395-82d4-97d449b5eb75"], "X-Amz-Apigw-Id":["CJY0WGAcIAMFtEA="]},"body":{"encoding":"UTF-8","string":"{\"Id\":\"fe5fd04b-00b4-46c1-89e4-289b6df4f247\",\"OrganizationId\":\"<crontogo_organization_id>\",\"State\":\"enabled\",\"Alias\":\"awards:populate_non_canonicalized_awards\",\"ScheduleType\":\"cron\",\"ScheduleExpression\":\"10 3 * * 6\",\"Timezone\":\"UTC\",\"Retries\":2,\"Target\":{\"Type\":\"dyno\",\"TimeToLive\":14400,\"AppId\":\"38277779-272e-46f2-afab-7bd91bf8535e\",\"Command\":\"env STATEMENT_TIMEOUT=1000s rake awards:populate_non_canonicalized_awards\",\"Size\":\"Standard-1X\"},\"LastAttempt\":null,\"CreatedAt\":1679416994777,\"UpdatedAt\":1679427611930}"}},"recorded_at":"Tue, 21 Mar 2023 19:40:12 GMT"}],"recorded_with":"VCR 6.1.0"}
